/* breakpoints --> tamanho da tela do dispositivo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
}


.grid {
    max-width: 100%;
    padding-top: 58px;
    padding-bottom: 58px;
}

/* .grip::after {
    content: ' ';
    display: block;
    clear: both;
} */

.grid .col {
    height: 300px;
    float: left;
    padding: 15px;
    background: yellow;
}

.grid .col-content {
    width: 100%;
    height: 100%;
    background: goldenrod;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px darkred, 2px 2px 2px rgba(0,0,0,0.5)
}

.menu {
    width: 100%;
    position: fixed;
    background: black;
}

.menu ul {
    list-style: none;
    display: block;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
    transition: all 500ms ease-in-out;
}

.menu ul li a:hover {
    background: gray;
}

.full-page {
    max-width: 100%;
    width: 100vw;
    height: 94vh;
    background: darkcyan;
    float: left;
}

.full-page-content {
    max-width: 1200px;
    max-height: 300px;
    padding: 30px 30px;
    margin: auto auto;
    font-style: italic;
}

p, h1 {
    color: white;
}

@media all and (max-width: 568px){
    .grid .col {
        width: 100%;
    }
}

@media all and (min-width: 569px) and (max-width: 768px) {
    .grid .col {
        width: 50%;
    }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
    .grid .col {
        width: 33.33%;
    }
}

@media (min-width: 1200px) {
    .grid .col {
        width: 25%;
    }
}


/* @media screen and (max-width: 320px) {
.grid .col {
    width: 100%;
 }
} */
/* screen --> querie media específica para navegadores
podemos utilizar também not e only*/




















