/* ____________________________________________________________ */

/* Especificidade no CSS

1 -ID                                      (1,0,0)
2 -Classes, Atributos e Pseudo-Classes     (0,1,0)
3 -Elementos e Pseudo-Elementos            (0,0,1)

*/

body#b p#p.p {
    background: purple;
}

body#b.bclass p#p.p::selection {
    background: darkgoldenrod;
}

#p {
    background: red;
}

#p.p {
    background: yellow;
}
/* o elemento tem que ter o id e a classe p*/

p#p.p {
    background: blue;
}

/* Obs.: a tag style dentro do elemento no html tem a maior especificidade de todas.
!important - força a regra ser a mais específica, até mais que o style*/

